*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
}

.header {
  height: 75px;
  width: 100%;
  background: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}

.logo {
  padding: 15px;
  cursor: pointer;
  font-size: 35px;
}

.navlist {
  list-style: none;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlist li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}

.navlist li:hover {
  background: rgb(97, 97, 97);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  font-size: 50px;
}

.card-container {
  width: 75%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card h2 {
  font-size: 30px;
}

.card p {
  font-size: 25px;
}
